@import "tailwindcss";

.ql-container {
  min-height: 16rem; /* same as h-64 */
}

.ql-editor h1 {
  font-size: 1.5rem !important; /* Tailwind’s text-2xl */
  font-weight: bold !important;
  color: black !important;
}
.ql-editor p {
  margin-bottom: 0.75rem !important; /* Tailwind’s mb-3 */
}

.bg-bar {
  @apply bg-[#3B0270];
}
.outline-bar {
  @apply outline-[#3B0270];
}

.text-bar {
  @apply !text-[#3B0270];
}

.border-bar {
  @apply !border-[#3B0270];
}

.text-primary{
  @apply text-[#E9B3FB]
}

.bg-background {
  @apply bg-[#FFF1F1];
}
.border-background {
  @apply border-[#FFF1F1];
}

.btn-primary {
  @apply hover:bg-[#E9B3FB] bg-[#6F00FF] hover:text-black px-5 py-2 rounded-xl font-medium select-none cursor-pointer transition-all duration-300;
}
.btn-secondary {
  @apply bg-[#E9B3FB] hover:bg-[#6F00FF] hover:outline px-5 py-2 rounded-xl font-medium select-none cursor-pointer transition-all duration-300;
}

.bg-component {
  @apply bg-[#E9B3FB] p-3;
}

.bg-primary {
  @apply bg-[#6F00FF];
}

.nav-link {
  @apply text-gray-200 hover:text-white transition-all duration-200 select-none;
}

.mob-link {
  @apply text-gray-200 focus:text-white block p-1 select-none text-lg;
}

.nav-btn {
  @apply text-[16px] bg-[#3C5B6F] hover:bg-[#7d96c5] px-5 py-2 rounded-xl font-medium select-none cursor-pointer transition-all duration-300;
}


.component-top {
  @apply rounded-t-2xl min-h-[calc(100vh-300px)] md:w-[90%] w-full mx-auto border;
}

.sider-link {
  @apply hover:bg-white hover:text-black transition-all duration-300 my-2 block w-full text-start rounded-xl font-bold  p-3  outline;
}
